*, a {
    outline: none;
    font-family: sans-serif;
    font-style: italic;
    text-decoration-color: #8f40ff;
    color: #8f40ff;
}

body {
    background-color: whitesmoke;
}

.active{
    background-color:whitesmoke;
}
html, body {
    overflow: hidden;
}

.navbar-toggle .icon-bar {
    background-color: #8f40ff;
}

li a {
    font-size: 18px;
}

.navbar-static-top {
    background: lightgray;
}

.navbar {
    border: none;
}
